# built application files
build/**
dist/**
target/**
bin/**
.idea
.idea/**
.settings
.settings/**
temp
temp/**
**.iml
.project
.checkstyle
.DS_Store
src/main/resources/system.properties